body {
  margin: 0;
  background-color: rgb(255,251,235);
}
*::selection {
    background-color: var(--main-color);
    color: rgb(0, 0, 0);
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
.fs-lg-sm{
font-size: 18px;
}
.fs-lg-sm-span{
font-size: 14px;
color: rgb(104, 104, 104);
}
header .container{
  background-color: rgb(255,251,235);

}
.bg-main-color{
  background-color: var(--main-color);
}

.margin-top{
  margin-top: 300px;
}
:root{
  --main-color:rgb(245,73,0);
  --black-color:rgb(0,0,0);
  --secound-color:rgb(190,194,200);
  --light-font: bold;
}
div img{
  width: 100%;
  height: 100%;
  
}
*{
  font-family:sans-serif;
}

.shadoww{
box-shadow: 0px 3px 7px rgba(134, 4, 4, 0.118);

}

.nav-link {
    font-weight: var(--light-font) !important ;
  }
.nav-item:hover {
  color: var(--main-color);
  }

.navbar-toggler-icon {
 
    border: none;
}
.navbar-toggler {
    font-size: 25px;
    font-weight: bold;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: none;
}
.navbar-toggler:focus {

    box-shadow: 0 0 0 0;
}

.main-color{
  color: var( --main-color) !important;
}
.color-2{
   color: var( --secound-color) !important;
}
span i:hover{
  color: var(--main-color);
}

.w-90{
  width: 90%;
}



/* --------------------------------------------- haader ------------------------------------ */


 .avatar{
  width: 50px;
  height: 50px;
  
  border: 2px solid var(--main-color);
 }
 .main-logo{
  width: 60px;
  height: 60px;
  
  border: 2px solid var(--main-color);
 }

header section.section1 {
 height: 90%;
   overflow: hidden;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.37);

}

.img-hero{
  height: 450px;
}

.img-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* يغطي العنصر بالكامل */
}
.badge-1{
  top: 4%;
  left: 4%;
}
.badge-2{
  bottom: 4%;
  left: 50%;
  transform: translate(-50%);
}

.alert-red{
  background-color:rgb(254,242,242) ;
  border-left: 4px red solid;
    color:red;

}
.color-dark-red{
  color:rgb(159,7,18) ;
}
.icon-Greek {
      width: 45px;
  height: 45px;
  font-size: 17px;
  background-color: rgb(255,237,212);
  padding: 13px;
  color: rgb(245,73,0) ;

}
.icon-Greek:hover {
   
  background-color: rgb(247, 200, 143);

}

.icon-size-1{
  width: 25px;
  height: 25px;
}
.icon-size-2{
    width: 45px;
  height: 45px;
}
.w-40px{
  width: 8%;
}
/* --------------------------------------------------------------------------------- */
.bg-list{
  background-color: rgb(255,249,236);
}
.yellow-alarn{
   background-color:rgb(255,251,235) ;
  border-left: 4px rgb(255,185,0) solid;   
}
.secuss-browen{
  color: rgb(225,113,0);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:var(--main-color) !important;
    background-color: var(--three-color) ;
    border-bottom: 2px var(--main-color) solid ;

}
.nav-pills .nav-link {
    border-radius: 0px;
}

 .nav-link:hover {
    color:var(--black-color) ;
}


.nav-link {

    color: rgb(74,85,101);
    text-decoration: none;
    background: 0 0;
    border: 0;
    font-weight: bold;
        font-size: 1rem;
        padding-inline: 10px;

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.tab-content{
  border-top: 1px solid rgb(223, 224, 224);
  max-height: 60%;  
  overflow-y: auto;
}


.botton-hero{
  background-image: linear-gradient(to right ,rgb(255,104,0),rgb(251,45,55)) ;
border: none;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.37);

}
.transiftion{
  transition:  transform  0.3s ,background-image 0.6s  ;
}
.transiftion:hover{
  transform: scale(1.1);
  background-image: linear-gradient(to right ,rgb(242, 39, 49),rgb(217, 38, 47)) ;
}


.content {
height: 100%;
  overflow-y: scroll;
}



/* الشريط بتاع الاسكرول ------------------------------- */

/* للمتصفحات المبنية على WebKit (Chrome, Edge, Opera) */
*::-webkit-scrollbar {
  width: 10px;               /* عرض الشريط */
}

*::-webkit-scrollbar-track {
  background: #ffffff;        /* لون المسار */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(255,219,210);        /* لون الجزء اللي بيمشي */
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(228, 115, 87);        /* لون عند الوقوف عليه */
}

/* للفايرفوكس */
* {
  scrollbar-width: thin;                      /* حجم الشريط */
  scrollbar-color: rgb(255,219,210) White;           /* thumb اللون – track اللون */
}


/* --------------------------------------------------- bottons ------------------------------------------- */
